extends index

block content
  .container.content(ng-view)
    h2 图书详情
      small 看好了赶紧下手，晚了就没啦( # ▽ # )
    .row.detailRow
      .col-md-4
        img(src='#{book.img}', alt='#{book.name}')
      .col-md-8
        p.text-left 书名：#{book.bookname}
        p.text-left 作者：#{book.author}
        p.text-left 上传者：#{book.uploader}
        p.text-left 豆瓣链接：
          a(href='#{book.doubanUrl}', target='_blank')
            img(src='http://img3.douban.com/pics/douban-icons/favicon_16x16.png', alt='豆瓣')
        p.text-left 热度：#{book.hot}
        p.text-left
          button.btn.btn-success(type='button') 我要了
          button.btn.btn-warning(type='button') 联系上传者